header {
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 700;
    font-family: 'Raleway', arial, sans-serif;
}

header img {
    with: 355px;
    height:155px;
    margin: 20px 10px 0px 10px;
    float:left;
}

header nav ul {
    list-style-type: none;
    padding: 85px 160px 50px 0px;
    float: right;
    
}

header nav ul li {
    display: inline;
    padding: 5px 15px;
    font-family: 'Raleway', arial, sans-serif;
    font-size: 13px;
}

header nav ul a {

    color: #333;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: .17em;
    text-decoration: none;

}



footer {
    width: auto;
    height: 245px;
    background-color: #f28500;
}

footer img {
    with: 100px;
    height:136px;
    float: left;
    margin: 30px 0px 0px 150px;

}
footer nav {
    margin: 0 auto;

}


footer nav ul {
    list-style-type: none;
    text-align: left;
    float:left;
    margin: 150px 0px 0px 60px;

    
}

footer nav ul li {
    display: inline;
    padding: 10px;
    font-family: 'Raleway', arial, sans-serif;
    font-size: 14px;
}

footer nav ul a {
    color: #fff9fb;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: .17em;
}

footer nav ul li:hover {
    color: #fff9fb;
    border-bottom: 1px solid;
}

.lablec2 {
 color: #fff9fb;
 font-size: 7pt;
 white-space: nowrap;
 float:right;
    padding: 150px 120px 40px 20px;
}

div#content {

    width: 100%;
    padding: 180px 0px 0px 0px;
}

div#keret img {
    width: 100%;
    z-index: 0;
}

h2.rolunk {
    padding:30px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}
.block {
    margin: 0 auto;
    height: 400px;
    color: white;
    background: #88ceeb;
}
.block p {
    color: white;
    text-align: center;
    padding: 20px 100px;
    font-size: 22px;
    line-height: 150%;
}

.second-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/bg.png');
}
label {
    width: 90px;
    display: inline-block;
}
input, select ,textarea {
    margin: 10px 0;
    padding: 2px;
}
#tarea {
    width: 90px;
    display: inline-block;
}

h2.entry-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.block-kapcsolat hr.short.titlehr {
    height: 3px;
    width: 40px;
    background-color: #f28500;
}

.page .main {
    padding: 0 0 8.3333% 0;
}